/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.button {
  background-color: #4a4a4a;
  color: white;
}

.large-media-container {
  overflow: hidden;
}

.large-media-container img {
  display: block;
  max-width: 100%;
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  margin: 16px 24px;
}

header .logo {
  flex: 1;
}

.logo strong {
  font-weight: bold;

}

header nav ul {
  display: flex;
}

nav li {
  margin-left: 16px;

}

nav a {
  font-size: .75rem;
  color: #4a4a4a;
}

header .mobile {
  display: none;
}


/* Mobile */

@media only screen and (max-width: 480px) {

  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    width: 90%;
    position: absolute;
    /* border: 1px solid black; */
    justify-content: flex-end;
  }

  header .mobile a {
    margin-left: 75px;
  }

  #banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }

  .large-media-container {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid black;
  }


  #banner .right-content {
    /* display: block; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
  }

  #oncampus .left-content {
    display: none;
  }

  .small-media-container picture {
    display: block;
    width: 100%;
    height: auto;
  }

  #thesis .bottom .right-content {
    display: none;
  }

  #online .middle2 {
  display: none;
  }

  #online .course {
    display: none;
  }

  section .mobile-courses {
    display: block;
    position: relative;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    top: 4rem;
  }

  section .large-header {
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #4a4a4a;
  }

  section ul li {
    padding: 16px 0 24px 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #d8d8d8;
    color: #4a4a4a;
    font-weight: bold;
  }

  #thesis .large-copy {
    display: none;
  }

  #thesis .large-media-container video {
    /* display: flex;
    flex-direction: column; */
    display: block;
    max-width: 100%;
    height: auto;
    /* align-items: stretch; */
    border: 1px solid black;
  }






}

/* Banner */

#banner {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4rem;
  background-color: #d8d8d8;
}

#banner .left-content {
  display: flex;
  position: relative;
  width: 60%;
  margin: 32px 24px;
}

#banner .right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 24px;
  width: 40%;
  /* border: 1px solid black; */

}

#banner .large-header {
  align-content: center;
  justify-content: center;

}

#banner .button {
  margin-top: 1rem;
  padding: 8px;
  text-align: center;
}

#banner h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #4a4a4a;
}

#banner span {
  font-style: bold;
  font-size: 1rem;
  padding-bottom: 1rem;
  color: #4a4a4a;
}

#oncampus, #thesis, footer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  position: relative;
  top: 4rem;
}


/* OnCampus */

#oncampus .left-content {
  width: 60%;
  padding: 32px;
}

#oncampus .large-header {
  margin-top: 32px;
  display: block;
}

#oncampus .large-header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: #4a4a4a;
}

#oncampus .large-header span {
  color: #4a4a4a;
}

.attribution {
  font-size: .65rem;
  margin-top: 24px;
}

#oncampus .right-content {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #d8d8d8;
  width: 40%;
  color: #4a4a4a;
}

#oncampus .orientation {
  margin-top: 15px;
  display: flex;
  align-content: center;
  border-bottom: 1px solid #d8d8d8;
  /* border: 1px solid black; */
}
#oncampus .campus {
  display: flex;
  align-content: center;
}
#oncampus .lecture {
  display: flex;
  align-content: center;
}

#oncampus .small-media-container {
  /* border: 1px solid black; */
  display: flex;
  width: 35%;
  flex-direction: column;
  margin: 16px;
  box-sizing: border-box;

}

#oncampus .small-media-container img {
  justify-content: center;
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
}

#oncampus .small-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  /* border: 1px solid black; */
}

.small-header h1 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 8px;
}

.small-header span {
  font-size: .7rem;
  margin-bottom: 8px;
}

.link a {
  margin-top: 8px;
  color: #3aacdb;
}

.lecture {
  background-color: #d8d8d8;
}

/* Online */

#online {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #d8d8d8;
  top: 4rem;
  position: relative;
  color: #4a4a4a;
  /* border: 1px solid black; */
}

section .mobile-courses {
  display: none;
}

#online h1 {
  padding-top: 32px;
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
  text-align: center;
  /* border: 1px solid black; */
}

.course {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 72px;
}

.engineering, .art, .design, .data, .business, .marketing{
  /* border: 1px solid black; */
  background-color: white;
  flex: 0 1 32%;
  margin: 32px 0;
}

.data, .business, .marketing {
  margin-top: 0;
  margin-bottom: 32px;
}

.course-image-container img {
  width: 100%;
  height: auto;

}

.course-copy {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.course-copy h2 {
  font-weight: bold;
}

.course-copy .small-title {
  padding-top: 8px;
}

.course-copy p {
  margin-top: 8px;
  margin-bottom: 24px;
}

/* Thesis */

#thesis {
  display: flex;
  flex-direction: column;
  top: 4rem;
  position: relative;
  /* border: 1px solid black; */
}

.bottom {
  display: flex;
}

#thesis .large-header h1 {
  padding-top: 32px;
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
  text-align: center;
  /* border: 1px solid black; */
}

#thesis .left-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* border: 1px solid black; */
  padding: 32px;
  color: #4a4a4a;
}

#thesis .large-media-container video {
  width: 100%;
  height: auto;
}

.large-copy {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin-top: 24px;

}

#thesis .large-copy h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

#thesis .right-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 32px;
  color: #4a4a4a;
  /* border: 1px solid black; */
}

#thesis .fisma {
  display: flex;
  align-content: center;
  border-bottom: 1px solid #d8d8d8;
  background-color: #d8d8d8;
  /* border: 1px solid black; */
}
#thesis .nowthen {
  display: flex;
  align-content: center;
}


#thesis .small-media-container {
  /* border: 1px solid black; */
  display: flex;
  width: 35%;
  flex-direction: column;
  margin: 16px;
  box-sizing: border-box;

}

#thesis .small-media-container img {
  justify-content: center;
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
}

#thesis .small-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  /* border: 1px solid black; */
}

#thesis .small-header h1 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 8px;
}

#thesis .small-header span {
  font-size: .7rem;
  margin-bottom: 8px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d8d8d8;
  color: #4a4a4a;

}

footer .content {
  display: flex;
  font-size: .75rem;
  margin: 16px 24px;
  top: 4rem;
  /* border: 1px solid black; */
}

footer .copyright {
  flex-grow: 1;
}

footer a {
  margin-right: 16px;
}
